header {
    border-radius: 5px;
    background-color:#ffefd5;
    padding: 10px;
    margin: 10px;
    height: 100px;
}

header img {
    float: left;
    margin: 0;
    width:100px;
}

div#wrapper {
    margin: 10px;
}

aside {
    vertical-align: top;
    
}

nav {
    margin: 0px 0px 10px 0px;
    top: 0px;
    border-radius: 5px;
    background-color: #b3a78f;
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 15px 0px;
}

nav ul li {
    padding: 0px 15px;;
    float: left;
}


nav ul a {
    text-decoration: none;
    color: #fff;
}

div#content {
   
    border-radius: 5px;
    background-color: #7c6c5f;
    padding: 15px;
    color: white;
}

footer {
    border-radius: 10px;
    margin: 10px;
    padding: 5px 20px;
    background-color: #b3a78f;
    color:white;
}

div#fogasok{
    text-align: center;
}

div.fele
{
    float: left; 
    width: 50%;
    margin: 0 10px 0 0;
}

a{
    color:#fff68f;
}
#slider{
    width: 1000px;
}
.center{
    text-align: center;
}